*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    --textColor: #251E25;
    --primaryColor:#FFFFEA;
    --secondaryColor: #E15050;
    --activeColor:#FB4D3D;
    --addBtnColor: #30343F;
}
.tabs{
    height: 100%;
    color: var(--textColor);
}

.tabs__sidebar{
    display: flex;
    height: 3%;
}

.tabs__btn {
    background:var(--primaryColor);
    outline: none;
    border: none;
    cursor: pointer;
    height: 30px;
    flex: 10% 0 1;
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.tab__title{
    width: 75%;
    margin-left: 5px;
}

.tabs__addBtn{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--addBtnColor);
    outline: none;
    border: none;
    cursor: pointer;
}

.tabs__content{
    background: var(--secondaryColor);
    display: none;
    padding: 2rem;

}

.tabs__content--active{
    display: block;
    height: 97%;
}

.tabs__btn--active{
    background: var(--secondaryColor);
}


.tabs__btn--active, .tabs__content--active {
    background:var(--secondaryColor);
}

/* ICONS */

.tab__icon{
    width: 20px;
    height: 20px;
}

.addBtn__icon{
    width: 20px;
    height: 20px;
    color: #FFFFEA;
}

.del__icon{
    width: 20px;
    height: 20px;
    margin: 10px 0 10px 0;
    display: none;
    opacity: .7;
    transition: all .3s ease;
    background: rgb(31, 30, 31);
    cursor: pointer;
}

.del__icon:hover{
    opacity: 1;
}

.tabs__btn:hover .del__icon{
    display: block;
}